<nav-bar></nav-bar>

<!--si l'utilisateur est connecté-->
<div *ngIf="user.connected">
    <div class="content">
        <p>l'utilisateur est connecté</p>
        <div class="option">
            <div (click)="newDocClick()">
                <iconify-icon icon="fluent:doctor-48-regular" width="150px" height="150px"></iconify-icon>
                <h3>Ajouter un médecin</h3>
            </div>
        </div>
        <div class="option">
            <div>
                <iconify-icon icon="healthicons:pharmacy" width="150px" height="150px"></iconify-icon>
                <h3>Ajouter une Pharmacie</h3>
            </div>
        </div>
        <div class="option">
            <div>
                <iconify-icon icon="material-symbols:card-travel" width="150px" height="150px"></iconify-icon>
                <h3>Mentionner une visite</h3>
            </div>
        </div>
    </div>







</div>

<!--si l'utilisateur n'est pas connecté-->
<div *ngIf="!user.connected">
    <div class="content center">
        <img class="logo" src="./assets/images/logo-full.svg">
        <p>
            Le site idéal pour un délégué médical/commercial
        </p>
    </div>
</div>