<nav-bar></nav-bar>
<div *ngIf="user.connected">
    <div class="form">
        <img src="./assets/images/new-doc.svg">
        <label>Nom:</label>
        <input type="text" placeholder="Nom du médecin">
        <label>Prénom:</label>
        <input type="text" placeholder="Prénom du médecin">
        <label>Adresse:</label>
        <input type="text" placeholder="Adresse du médecin">
        <label>Code Postal:</label>
        <input type="number" max="99000" placeholder="Code Postal">
        <label>Numéro de Téléphone:</label>
        <input type="text" placeholder="Numéro de Téléphone du médecin">
        <button class="pos" (click)="savePosClick()">Récupérer la Position</button>
        <button class="submit" (click)="submitButtonClick()">Valider</button>
        <button class="cancel" (click)="cancelButtonClick()">Annuler</button>
    </div>
</div>
